.hero {
  height: 100vh;
  text-shadow: 2px 2px rgb(0, 0, 0);

  .video-player {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }
  .left-hero-section {
    height: 100vh;
    z-index: 2;
  }
  .left-hero-section-cnt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    h1 {
      font-weight: 700;
      font-size: 7rem;
      line-height: 1rem;
    }
    .hero-description {
      display: flex;
      flex-direction: column;
      .hero-read-more {
        margin-top: 1rem;
        display: flex;
        justify-content: flex-end;
        gap: 0.5rem;
      }
      p {
        line-height: 1.5;
      }
      .hero-play-now {
        display: flex;
        align-items: center;
        gap: 15px;

        img {
          width: 4.5rem;
          cursor: pointer;
        }
      }
    }
  }
  .hero-whats-new-line {
    width: 56.1px;
    height: 0px;
    border: 3px solid #ffffff;
    background-color: #ffffff;
  }
  .hero-whats-new-cnt {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 22.98px;
    p {
      font-weight: 400;
    }
  }
}
