.menu-left-container {
  display: flex;
}
.logo {
  width: 180px;
}
.navbar {
  padding: 1rem 0;
  height: 70px;
}
.hamburger-menu {
  display: unset;
}
.menu-container-lg {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-left {
  display: flex;
  align-items: center;
  gap: 20px;
  li {
    cursor: pointer;
  }
}

.menu-right-container {
  display: flex;
}

.menu-right-container ul {
  display: flex;
  align-items: center;
  gap: 30px;
  li {
    cursor: pointer;
  }
}

#sign-up {
  border: 3px solid white;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
}
#sign-up:hover {
  background-color: white;
  color: black;
}
.hamburger-menu {
  height: 1.5rem;
}

.menu-container-sm {
  display: none;
}

.toggle-menu {
  display: none;
}

@media (max-width: 720px) {
  .menu-container-sm {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .toggle-menu {
    position: absolute;
    width: 100%;
    //height: calc(100% - 66px - 2rem);
    height: calc(100% - 6rem);
    background-color: black;
    top: 4rem;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    ul {
      text-align: center;
      line-height: 5rem;
      width: 100%;
      li:hover {
        width: 100%;
        background-color: greenyellow;
        cursor: pointer;
      }
    }
  }

  .menu-container-lg {
    display: none;
  }
}
