@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");
@import "styles/Button";
@import "styles/Navbar";
@import "styles/Hero";
@import "styles/Popular";
@import "styles/MovieCover";
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  color: #ffffff;
}
html,
body,
p,
ul {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
input[type="button"] {
  border: none;
  outline: none;
}
button {
  outline: none;
}
.btn {
  text-transform: unset !important;
}
